        *{
            padding: 0;
            margin: 0;
        }
          .a{
          position: relative;
          left: 4px;
          bottom: 28px;
            opacity: 0.4;
            color: blue;
            margin: 0px;
            padding: 0px;
            
        } 
        .main input{
            outline: 1px solid blue;
            border: none;
            padding: 5px;
            /* padding-top: 10px; */
            border-radius: 5px;
            letter-spacing: 1.5px;
           max-width: 400px;
            height: 30px;
            font-size:20px;
            animation: input 1s linear;
        }
        @keyframes input{
            from{
                display: none;
            }
            to{
                display: none;
            }

        }
        @media(max-width:400px){
           .main input{
                width: 85vw;

            }
            .a{
                font-size: 16px;
            }
        }
        input:not(:placeholder-shown) ~ label,
        input:focus~.a{
            font-size: 90%;
            background-color: white;
            opacity: 1;
            padding: 0px 6px;
            bottom: 51px;
            color:blue;
        }