@media(min-width:400px){
           .bottom{
            padding-top: 10px;
            top: 60px;
            left:-15px;
            flex-direction: column;
            width: 70px;
            height: 90%;
            justify-content: flex-start;
            background-color: white;
            align-items: center;
           } 
           .material-symbols-outlined:hover {
        font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' ,
        'opsz' 100;
        color: rgb(240, 240, 245);
        padding:7px 15px;
        background-color: rgb(51, 52, 56);
       
        border-radius: 15px;
        transition: all 0.4s;
        }
        .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' ,
        'opsz' 100;
        color: rgb(97, 97, 255);
        padding:7px 15px;
       
        border-radius: 15px;
        transition: all 0.4s;
    }
    .bottom{
       border-radius: 10px;
       /* border: 1px solid rgb(96, 93, 93); */
       box-shadow:1px 0px 10px rgb(91, 90, 90);
       padding-left: 15px;
    }
}
 @media(max-width:400px){
            .menu_btn{
                display: none;
            }
        }